.order{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    /* background-color: white; */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}
.order-component{
    border: 1px solid #000;
    height: auto;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-props{
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.order-addInformation{
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity > div{
    margin: 0px 20px;
}
.order-visual{
    height: 104px;
    width: 90px;
    border: 1px solid #000;
}
.order-visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.order-visual-description{
    padding: 5px;
    line-height: 26px;
}
.order-visual-description h4{
    font-size: 16px;
}
.order-visual-description h5{
    font-size: 13px;
    font-weight: 600;
}
.quality-check{
    width: 50px;
}
.order-price span{
    font-weight: 700;
}
.quantity span{
    font-weight: 700;
    text-transform: capitalize;
}
.quantity{
    display: flex;
    align-items: center;
}
.quantity select{
    outline: none;
    margin-left: 10px;
}
.size-container{
    background-color: orange;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.qea{
    display: flex;
    align-items: center;

}