.copywriting-hero{
    height: auto;
    width: 100%;
    /* border: 10px solid red; */
    padding-top: 58px;
}
.copywriting-hero-container{
    height: auto;
    width: 100%;
    /* border: 4px solid gray; */
    /* background-color: #FAFAFA; */
    /* background-color: #E0E5D6; */
    background-color: #F4FAEB;
    /* background-color: #E2E4D5; */
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.copy-hero-1::before{
    content: "";
    height: 130px;
    width: 150px;
    position: absolute;
    left: 0px;
    top: 80px;
    /* border: 1px solid red; */
    background-color:  #E0E5D6;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
/* #E0E5D6
#5B6B6A */
.copy-hero-1{
    width: 100%;
    height: auto;
    /* border: 1px  solid gray; */
    padding: 140px 70px;
}
.copy-hero-1 h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #1B4541;
    position: relative;
    z-index: 2;
}
.copy-hero-1 h1::after{
    content: "";
    height: 20px;
    width: 290px;
    position: absolute;
    top: 139px;
    border-radius: 40px;
    background-color: #E0E5D6;
    left: 0px;
    z-index: -1;
}
.copy-hero-2{
    width: 100%;
    height: auto;
    /* border: 1px  solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy-hero-1 p{
    position: relative;
    z-index: 2;
    font-weight: 400;
    font-size: 15px;
    color: #1B4541;
    padding-top: 26px;
}
.copy-hero-3-container::before{
    content: "";
    height: 170px;
    width: 270px;
    position: absolute;
    right: 400px;
    top: 360px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
   background-color:  #E0E5D6;
}
.copy-hero-2-container{
    height: 250px;
    width: 500px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
    z-index: 2;
     /* border: 1px solid rebeccapurple; */
}
.copy-hero-2-container::after{
    content: "";
    background: url(../mainComponents/images/dot1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: -30px;
    top: -30px;
    display: flex;
    /* border: 1px solid red; */
    height: 130px;
    width: 140px;
    z-index: -1;
}
.copy-hero-2-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;

}

.copy-hero-3-container{
    height: 250px;
    width: 500px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
     /* border: 1px solid rebeccapurple; */
     margin-top: 30px;
}
.copy-hero-3-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    position: relative;

}

.copywriting-get-started{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}
.copywriting-get-started-link{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height:45px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background-color: #1B4541;
}
.arrow-head{
    margin-left: 20px;
}
.copywrite-contact{
    display: flex;
    align-items: center;
}
.copy-contact{
    height: 40px;
    width: 200px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B4541;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}
.copy-get-container{
    display: flex;
    margin-top: 30px;
    align-items: center;
    position: relative;
    z-index: 2;
}
.copy-get-container::after{
    content: "";
    display: flex;
    height: 120px;
    width: 200px;
    position: absolute;
    left: 400px;
    top: 50px;
    z-index: -1;    
    border-radius: 100px;
    border: 2px solid #E0E5D6;
}